<head>
    <meta charset="utf-8">
    <title>WebSocket</title>
  </head>
  
  <body>
    <p id="output"></p>
    <script src="reconnecting-websocket.js"></script>
    <script>
      var loc = window.location;
      var uri = 'ws:';
  
      if (loc.protocol === 'https:') {
        uri = 'wss:';
      }
      uri += '//' + loc.host;
      uri += loc.pathname + 'ws';
  
      // ws = new WebSocket(uri)
      ws = new ReconnectingWebSocket(uri)
  
      ws.onopen = function() {
        console.log('Connected')
      }
  
      ws.onmessage = function(evt) {
        console.log(JSON.parse(evt.data)[0].text);
        // console.log(evt.data)
        var out = document.getElementById('output');
        JSON.parse(evt.data).forEach(element => {
          out.innerHTML += element.text + '<br>';
        });
      }
      
      // 接続後すぐにsendしようとするとエラーになる
      // ws.send("Hello Server");
      // setInterval(function() {
      //   ws.send('Hello, Server!');
      // }, 1000);
    </script>
  </body>
  
  </html>